body{
	background: lightyellow;
	margin:0;
}
nav>ul{
	display:flex;
	gap:2rem;
}
a{
	text-decoration:none;
	color:inherit;
}
ul{
	list-style:none;
}
nav{
	font-weight:600;
	padding-block: 5px;
	background:lightblue;
}
